<%- layout("/layouts/boilerPlate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit Listing</h3>
    <form
      method="POST"
      action="/listings/<%= listing.id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="enter title"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
          required
        >
<%= listing.description %></textarea
        >
      </div>

      <div class="mb-">
        original image
        <img src="<%= originalImageUrl %>" alt="" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="file"
          placeholder="enter img "
          name="listing[image]"
          class="form-control"
        />
      </div>

      <div class="mb-3"></div>
      <label for="price" class="form-label">Price</label>
      <input
        type="text"
        placeholder="enter price"
        name="listing[price]"
        value="<%= listing.price %>"
        class="form-control"
        required
      />
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="enter location"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="enter country"
          value="<%= listing.country %>"
          class="form-control"
          required
        />
      </div>

      <button>Edit</button>
    </form>
  </div>
</div>

<script src="/js/script.js"></script>
