<% layout("/layouts/boilerPlate.ejs") %>

<style>
  .filters {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
  }
  .filter-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    height: 90px;
    position: relative;
    margin: 5px 2px 20px 2px;
  }

  .filter-main::-webkit-scrollbar {
    display: none;
  }

  .filter {
    min-width: max-content;
    text-align: center;
    opacity: 0.6;
    transition: 150ms ease-in-out all;
    margin: 2rem 1rem 1rem 1rem;
  }

  .filter:hover {
    opacity: 1 !important;
    color: rgba(247, 8, 8, 0.679);
    border-bottom: 2px solid rgba(247, 8, 8, 0.5) !important;
    transform: scale(1.05) !important;
    transition: 150ms ease all;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.95rem;
    width: 100%;
  }

  .slideButton {
    cursor: pointer;
    position: sticky;
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    padding: 10px;
    z-index: 100;
    transition: all 0.2s ease-out;
  }

  .slideButton:active {
    transform: scale(1.2);
    background-color: rgb(247, 8, 8);
  }

  .slideButton > i {
    font-size: 1rem;
  }

  .left_img_button {
    left: 0px;
  }

  .right_img_button {
    right: 0px;
  }

  .text-toggler {
    border: 0.5px solid rgba(128, 128, 128, 0.503);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    min-width: max-content;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
  }

  .text-toggler:hover {
    border: 1px solid black !important;
  }

  .hide {
    display: none;
  }
</style>

<div class="filters">
  <div class="slideButton left_img_button" style="display: none">
    <i class="fa-solid fa-angle-left"></i>
  </div>
  <div class="filter-main">
    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>
    </a>
    <a href="/listings/filter/Beachfront">
      <div class="filter">
        <i class="fa-solid fa-umbrella-beach"></i>
        <p>Beachfront</p>
      </div>
    </a>
    <a href="/listings/filter/Iconic Cities">
      <div class="filter">
        <i class="fa-solid fa-city"></i>
        <p>Iconis Cities</p>
      </div>
    </a>
    <a href="/listings/filter/Farms">
      <div class="filter">
        <i class="fa-solid fa-cow"></i>
        <p>Farms</p>
      </div>
    </a>
    <a href="/listings/filter/Amazing Pools">
      <div class="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Amezing Pools</p>
      </div>
    </a>
    <a href="/listings/filter/Island">
      <div class="filter">
        <i class="fa-solid fa-anchor"></i>
        <p>Islands</p>
      </div>
    </a>
    <a href="/listings/filter/Lakefront">
      <div class="filter">
        <i class="fa-solid fa-water"></i>
        <p>Lakefront</p>
      </div>
    </a>
    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-person-skiing"></i>
        <p>Sli-in/out</p>
      </div>
    </a>
    <a href="/listings/filter/Castals">
      <div class="filter">
        <i class="fa-brands fa-fort-awesome-alt"></i>
        <p>Castals</p>
      </div>
    </a>
    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
      </div>
    </a>
    <a href="/listings/filter/Artic">
      <div class="filter">
        <i class="fa-solid fa-snowflake"></i>
        <p>Arctic</p>
      </div>
    </a>
    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-crown"></i>
        <p>Luxry</p>
      </div>
    </a>

    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-igloo"></i>
        <p>Domes</p>
      </div>
    </a>

    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-sailboat"></i>
        <p>Boats</p>
      </div>
    </a>

    <a href="/listings/filter/Mountains">
      <div class="filter">
        <i class="fa-solid fa-cable-car"></i>
        <p>Mountains</p>
      </div>
    </a>
  </div>
  <div class="slideButton right_img_button">
    <i class="fa-solid fa-angle-right"></i>
  </div>

  <div
    class="text-toggler tax-filter-icon filterIcon me-2 ms-2"
    onclick="filterClick()"
  >
    <div
      class="form-check form-switch form-check-reverse pe-1"
      style="cursor: pointer"
    >
      <i class="fa-solid fa-sliders" id="filter-icon"></i>
      <label class="form-check-label" for="filter-icon" style="cursor: pointer"
        >Filters</label
      >
    </div>
  </div>

  <div class="text-toggler">
    <div class="form-check form-switch form-check-reverse">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
      <label class="form-check-label" for="switchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <%for(let listing of allListings){%>
  <a href="/listings/<%= listing.id %>">
    <div class="card col listing-card">
      <img
        src="<%=listing.image[0].url%>"
        class="card-img-top"
        alt="listing_img"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%=listing.title%></b> <br />
          &#8377;<%= listing.price %> / night &nbsp;
          <i class="toggledText hide">18+ GST</i>
        </p>
      </div>
    </div>
  </a>
  <%}%>
</div>

<!-- <ul>
    <%for(let listing of allListings){%>
    <li><a href="/listing/<%=listing.id%>"><%=listing.title%></a></li>
    <%}%>
  </ul> -->

<script>
  const toggler = document.getElementById("switchCheckDefault");
  let clicked = true;
  toggler.addEventListener("click", () => {
    const texInfo = document.getElementsByClassName("toggledText");

    for (info of texInfo) {
      if (clicked == true) {
        info.classList.remove("hide");
      } else {
        info.classList.add("hide");
      }
    }
    clicked = !clicked;
  });

  // filters slide button add-----------------------------------
  let filtersBox = document.querySelector(".filter-main");
  let buttonSlide = document.querySelectorAll(".slideButton");

  buttonSlide.forEach((button) => {
    button.addEventListener("click", () => {
      const direction = button.classList.contains("left_img_button") ? -1 : 1;
      const scrollImg = direction * (filtersBox.clientWidth - 100);
      filtersBox.scrollBy({ left: scrollImg, behavior: "smooth" });
    });
  });

  filtersBox.addEventListener("scroll", () => {
    buttonSlide[0].style.display = filtersBox.scrollLeft <= 0 ? "none" : "flex";
    buttonSlide[1].style.display =
      filtersBox.scrollLeft >=
      filtersBox.scrollWidth - filtersBox.clientWidth - 5
        ? "none"
        : "flex";
    console.log(filtersBox.scrollWidth);
    console.log(filtersBox.scrollWidth - filtersBox.clientWidth);
  });
</script>
