<% layout("/layouts/boilerPlate.ejs") %>
<link rel="stylesheet" href="/css/index.css" />

<div class="filters">
  <div class="slideButton left_img_button" style="display: none">
    <i class="fa-solid fa-angle-left"></i>
  </div>
  <div class="filter-main">
    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>
    </a>
    <a href="/listings/filter/Beachfront">
      <div class="filter">
        <i class="fa-solid fa-umbrella-beach"></i>
        <p>Beachfront</p>
      </div>
    </a>
    <a href="/listings/filter/Iconic Cities">
      <div class="filter">
        <i class="fa-solid fa-city"></i>
        <p>Iconis Cities</p>
      </div>
    </a>
    <a href="/listings/filter/Farms">
      <div class="filter">
        <i class="fa-solid fa-cow"></i>
        <p>Farms</p>
      </div>
    </a>
    <a href="/listings/filter/Amazing Pools">
      <div class="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Amezing Pools</p>
      </div>
    </a>
    <a href="/listings/filter/Island">
      <div class="filter">
        <i class="fa-solid fa-anchor"></i>
        <p>Islands</p>
      </div>
    </a>
    <a href="/listings/filter/Lakefront">
      <div class="filter">
        <i class="fa-solid fa-water"></i>
        <p>Lakefront</p>
      </div>
    </a>
    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-person-skiing"></i>
        <p>Sli-in/out</p>
      </div>
    </a>
    <a href="/listings/filter/Castals">
      <div class="filter">
        <i class="fa-brands fa-fort-awesome-alt"></i>
        <p>Castals</p>
      </div>
    </a>
    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
      </div>
    </a>
    <a href="/listings/filter/Artic">
      <div class="filter">
        <i class="fa-solid fa-snowflake"></i>
        <p>Arctic</p>
      </div>
    </a>
    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-crown"></i>
        <p>Luxry</p>
      </div>
    </a>

    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-igloo"></i>
        <p>Domes</p>
      </div>
    </a>

    <a href="/listings">
      <div class="filter">
        <i class="fa-solid fa-sailboat"></i>
        <p>Boats</p>
      </div>
    </a>

    <a href="/listings/filter/Mountains">
      <div class="filter">
        <i class="fa-solid fa-cable-car"></i>
        <p>Mountains</p>
      </div>
    </a>
  </div>
  <div class="slideButton right_img_button">
    <i class="fa-solid fa-angle-right"></i>
  </div>

  <div
    class="text-toggler tax-filter-icon filterIcon me-2 ms-2 show-filter-button"
    onclick="filterClick()"
  >
    <div
      class="form-check form-switch form-check-reverse pe-1"
      style="cursor: pointer"
    >
      <i class="fa-solid fa-sliders" id="filter-icon"></i>
      <label class="form-check-label" for="filter-icon" style="cursor: pointer"
        >Filters</label
      >
    </div>
  </div>

  <div class="text-toggler">
    <div class="form-check form-switch form-check-reverse">
      <input
        class="form-check-input gstToggle toggle-tax-slider"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
      <label class="form-check-label changeAfter" for="switchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>

<div class="card-container">
  <%for(let listing of allListings){%>

  <div class="listing-card" onclick="goToListing('<%= listing.id %>')">
    <div class="slider-container">
      <div class="left" onclick="prevSlide(event,this)">
        <i class="fa-solid fa-caret-left"></i>
      </div>
      <div class="image-container">
        <% for(let i = 0; i<4; i++) { %>
        <div class="slider">
          <img src="<%=listing.image[i].url%>" alt="listing_img" />
        </div>
        <% } %>
      </div>
      <div class="right" onclick="nextSlide(event, this)">
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>

    <div class="card-img-overlay"></div>

    <div class="card-Info">
      <div class="info-1">
        <h6><%=listing.category%></h6>
        <div class="price price-info" data-price="<%=listing.price%> ">
          &#8377;<%=listing.price%> / night
        </div>
        <span class="tax-info" style="display: none"></span>
      </div>
      <div class="title">
        <h4><%=listing.title%></h4>
      </div>
      <div class="offers">
        <div class="offer offer-1">
          <i class="fa-solid fa-bed"></i> <%=listing.bedrooms%> &nbsp;&nbsp;
        </div>
        <div class="offer offer-2">
          <i class="fa-solid fa-bath"></i> <%=listing.bathrooms%> &nbsp;&nbsp;
        </div>

        <div class="offer offer-3">
          <i class="fa-solid fa-car"></i> <%=listing.garages%> &nbsp;&nbsp;
        </div>

        <div class="offer offer-4">
          <i class="fa-regular fa-square-full"></i> <%=listing.area%>
        </div>
      </div>
      <p class="description"><%= listing.description %></p>
    </div>
  </div>

  <%}%>
</div>

<script src="/js/index.js"></script>
