<%- layout("/layouts/boilerPlate.ejs") %>
<div class="row">
  <div class="col-8 offset-3">
    <h3>Listings Details</h3>
  </div>
  <div class="card col-6 offset-3">
    <img
      src="<%=listing.image.url%>"
      class="card-img-top show-img"
      alt="listing_img"
    />
    <div class="card-body">
      <p class="card-text">
        <b><%=listing.title%></b>
        <br />
        <%=listing.description%>
        <br />
        <%= listing.price.toLocaleString("en-IN", { style: "currency", currency:
        "INR" }) %>
        <br />
        <%=listing.location%>
        <br />
        <%=listing.country%>
      </p>
    </div>
  </div>

  <div class="btns">
    <a href="/listing/<%=listing.id%>/edit" class="btn btn-dark col-1 offset-3"
      >Edit</a
    >

    <form
      action="/listings/<%= listing.id %>?_method=Delete"
      method="post"
      class="offset"
    >
      <button class="btn btn-dark">Delete</button>
    </form>
  </div>
</div>
