<%- layout("/layouts/boilerPlate.ejs") %>
<link rel="stylesheet" href="/css/showPage.css" />

<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css"
  rel="stylesheet"
/>

<style>
  #map {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    margin-top: 10px;
  }

  .toggle-btn {
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background: #111;
    color: #fff;
  }

  .wishlist-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: #e91e63;
  }

  .wishlist-btn i.far {
    color: #777;
  }

  .wishlist-btn i.fas {
    color: #e91e63;
  }
</style>

<!-- MapBox Script -->
<script>
  const mapToken = "<%= process.env.MAP_KEY%>";
  const coordinates = <%-JSON.stringify(listing.geometry.coordinates)%>
</script>

<!-- Image Slider Script -->
<script>
  window.sliderImages = <%-JSON.stringify(listing.image)%>;
  window.price = <%= listing.price %>;
</script>

<!-- Calender(Lite Picker) Js -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"
/>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>

<div class="listing-details">
  <div class="title">
    <h1><%=listing.title%></h1>
    <div class="wishlist">
      <% if (currUser) { %>
      <button
        class="wishlist-btn"
        data-user="<%= currUser ? currUser._id : '' %>"
        data-listing="<%= listing._id %>"
      >
        <i class="far fa-heart"></i>
      </button>
      <span>Save</span>
      <% } %>
    </div>
  </div>
  <div class="slider">
    <div class="fullSlider hidden">
      <div class="arrow leftArrow">
        <i class="fa-solid fa-angle-left" id="prevBtn"></i>
      </div>

      <div class="imgContainer">
        <img id="fullImage" alt="" />
      </div>

      <div class="arrow rightArrow">
        <i class="fa-solid fa-angle-left" id="nextBtn"></i>
      </div>

      <div class="close" id="closeSlider">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="bigImg">
      <img
        src="<%=listing.image[0].url%>"
        class=""
        alt="listing_img"
        onclick="openSlider(0)"
      />
    </div>
    <div class="smallImgs">
      <%for(let i = 1; i<4; i++ ){%>
      <img
        src="<%=listing.image[i].url%>"
        class=""
        alt="listing_img"
        onclick="openSlider(<%= i %>)"
      />
      <%}%>
    </div>
  </div>
  <div class="bottom-info">
    <div class="loaction">
      <i class="fa-solid fa-location-dot"></i>
      <span> <%=listing.location%></span>
    </div>
    <h2 class="info-text">
      <%=listing.category%> in <%=listing.city%>, <%=listing.state%>,
      <%=listing.country%>
    </h2>

    <p class="offers">
      <i class="fa-solid fa-bed"></i> <%=listing.bedrooms%> Bedrooms
      &nbsp;&nbsp; <i class="fa-solid fa-bath"></i> <%=listing.bathrooms%>
      Bathrooms &nbsp;&nbsp;
      <i class="fa-solid fa-car"></i> <%=listing.garages%> Garages &nbsp;&nbsp;
      <i class="fa-regular fa-square-full"></i> <%=listing.area%> Area
    </p>

    <hr />

    <div class="profile">
      <img src="/asset/User-Profile.jpg" width="40px" />
      <h3>Hosted by <%=listing.owner.username%></h3>
    </div>

    <hr />

    <h3>Description</h3>
    <p><%=listing.description%></p>
    <hr />

    <div class="two-part">
      <div class="aminities">
        <h2>What this place offers?</h2>
        <div class="aminities-items">
          <% aminities.forEach(f => { %>
          <div class="facility">
            <i class="<%= f.icon %>"></i>
            <span><%= f.name %></span>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="booking-part">
        <h2>How long do you want to stay?</h2>
        <div class="date-range-calendar">
          <input type="text" id="startDate" placeholder="Start Date" readonly />
          <input type="text" id="endDate" placeholder="End Date" readonly />

          <div class="datePlaceholder" id="datePlaceholder">
            <p>Select your dates to calculate total price....</p>
          </div>

          <div class="price-details">
            <div id="priceInfo">
              <h2 id="nightPrice"><%=listing.price%> x 0 night</h2>
              <h2 id="totalPrice">Total Price: ₹0</h2>

              <p id="startDisplay">
                <span>Start Date: </span><%= new Date(Date.now()).toDateString()
                %>
              </p>
              <p id="endDisplay">
                <span>End Date: </span> <%= new Date(Date.now()).toDateString()
                %>
              </p>
            </div>
          </div>

          <% if(currUser && currUser._id.equals(listing.owner._id)) {%>

          <div class="user-buttons">
            <a href="/listings/<%=listing.id%>/edit" class="user-button"
              >Edit</a
            >

            <form
              action="/listings/<%= listing.id %>?_method=Delete"
              method="post"
            >
              <button class="user-button">Delete</button>
            </form>
          </div>

          <% } else { %>
          <button class="button" id="bookingBtn">BOOKING</button>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="review-section">
    <!-- Review Form -->
    <% if(currUser) {%>

    <h4 class="leave-review-text">Leav a Review</h4>
    <form
      action="/listings/<%=listing.id%>/reviews"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div class="mt-3">
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mt-1">
        <label for="comment" class="form-lable">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          rows="5"
          cols="30"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comment for review</div>
      </div>
      <button class="btn btn-outline-dark mt-3">ADD</button>
    </form>
    <hr />
    <% }%>

    <!-- Review Loop -->
    <% if(listing.reviews.length !== 0){ %>
    <p class="add-reviews-text">
      <i class="fa-solid fa-star"></i>&nbsp;&nbsp;<%= listing.reviews.length %>
      <span>Reviews</span>
    </p>
    <div class="review-container">
      <% for(review of listing.reviews){ %>

      <div class="review-card">
        <div class="user-details">
          <div class="personal-info">
            <div class="profile-img">
              <img src="/asset/User-Profile.jpg" />
            </div>
            <div class="details">
              <h5 class="username"><%= review.author.username %></h5>
              <h5 class="email">@<%= review.author.email %></h5>
            </div>
          </div>

          <p
            class="starability-result ratings-stars"
            data-rating="<%= review.rating %>"
          >
            Rated: 3 stars
          </p>
        </div>

        <p class="comment"><%= review.comment %></p>

        <% if(currUser && currUser._id.equals(review.author._id)) {%>

        <form
          action="/listings/<%=listing.id%>/reviews/<%=review.id%>?_method=Delete"
          method="post"
          class="mt-1 mb-1"
        >
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
        <% } %>
      </div>
      <% } %>
    </div>
    <hr />
    <% } %>
  </div>

  <h2>Mapbox Map (EJS)</h2>
  <button id="toggleMap" class="toggle-btn">🌙 Dark Mode</button>

  <div id="map"></div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

<script>
  //WishList Logic

  const btn = document.querySelector(".wishlist-btn");
  console.log(btn);

  btn.addEventListener("click", () => {
    const userId = btn.dataset.user;
    const listingId = btn.dataset.listing;

    if (!userId) {
      alert("Login first");
      return;
    }

    fetch(`/wishlist/${userId}/${listingId}`, {
      method: "PATCH",
    });

    // Toggle heart UI (frontend only)
    const icon = btn.querySelector("i");
    icon.classList.toggle("fas");
    icon.classList.toggle("far");
  });

  //Map Js

  mapboxgl.accessToken = "<%= mapToken %>";

  console.log(coordinates);

  const lightStyle = "mapbox://styles/mapbox/streets-v12";
  const darkStyle = "mapbox://styles/mapbox/dark-v11";

  let isDark = false;

  const map = new mapboxgl.Map({
    container: "map",
    style: lightStyle,
    center: coordinates || [77.209, 28.6139],
    zoom: 13,
  });

  map.addControl(new mapboxgl.NavigationControl());

  const marker = new mapboxgl.Marker({ color: "red" })
    .setLngLat(coordinates)
    .addTo(map);

  // Nearby listings (HOUSE ICON)

  // Dark + Light Mode

  document.getElementById("toggleMap").addEventListener("click", () => {
    isDark = !isDark;

    map.setStyle(isDark ? darkStyle : lightStyle);

    const btn = document.getElementById("toggleMap");
    btn.innerText = isDark ? "☀️ Light Mode" : "🌙 Dark Mode";
    btn.style.background = isDark ? "#eee" : "#111";
    btn.style.color = isDark ? "#000" : "#fff";
  });
</script>
<script src="/js/slider.js"></script>
